<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlBasedSecurity.Properties.Settings.ControlSecurityConnectionString"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=ControlSecurity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>